@model NewBookVM

@using bbBookstore.Data.Enums;

@{
    ViewData["Title"] = "Update Books";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Update Books</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">

                <form asp-action="Edit">
                    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BookTitle" class="control-label"></label>
                                <input asp-for="BookTitle" class="form-control" />
                                <span asp-validation-for="BookTitle" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BookImage" class="control-label"></label>
                                <input asp-for="BookImage" class="form-control" />
                                <span asp-validation-for="BookImage" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Review" class="control-label"></label>
                                <input asp-for="Review" class="form-control" />
                                <span asp-validation-for="Review" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NumOfPages" class="control-label"></label>
                                <input asp-for="NumOfPages" type="number" class="form-control" />
                                <span asp-validation-for="NumOfPages" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PublisherId" class="control-label"></label>
                                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Publishers"></select>
                                <span asp-validation-for="PublisherId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="AuthorId" class="control-label"></label>
                                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Authors"></select>
                                <span asp-validation-for="AuthorId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BookGenre" class="control-label"></label>
                                <select asp-for="BookGenre" class="form-control" asp-items="Html.GetEnumSelectList<Genre>()"></select>
                                <span asp-validation-for="BookGenre" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ISBN" class="control-label"></label>
                                <input asp-for="ISBN" type="number" class="form-control" />
                                <span asp-validation-for="ISBN" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-success" /> |
                        <a class="btn btn-outline-secondary" asp-action="Index">View All Books</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $("#BookImage").val();
        });

        $("#BookImage").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
    </script>
}