<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You are Not Allowed To Access This Page!</h2>
        <p>Please return back to the home page. Thank You!</p>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Books" asp-action="Index">Home Page</a>
    </div>
</div>